body {
    background-color: rgba(249, 215, 173, 0.5);
   
}

h1 {
    color: red;
    align-items: center;
    /* all headings should be red*/
    text-shadow: 3px 3px blue;
    
   
}
.p1 {
    color: green;
    font-family: Arial, Helvetica, sans-serif; }

   .doted {
    border: dotted 6px green;
   }
   .dashed {
    border: dashed;
   }
   .inset { 
    border: inset;
    border-radius: 10px;
   }
   .outset {
    border: outset;
   }
   .groove { 
    border: groove;
    border-color: red;
   }
   .solid {
    border: solid;
    border-color: hsl(0, 100%, 50%);
   }
  
   .ridge {
    border: ridge;
    border-width: medium;
   }

   .mixed {
   border-style: solid dashed dotted hidden;
   border-width: 5px;
}
div {
    border: 2px solid red;
    margin: 20px 30px 50px 40px;
    padding: 10px 20px 10px 50px;
    text-align: justify;
  
   
   
}
.outo-margin {
    border: 2px solid;
    margin:auto;
    width: 300px;
    text-align: justify;
    text-indent: 40px;
    letter-spacing: 2px;
    line-height: 0.8;
    word-spacing: 10px;
   
    
}